---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from "astro:content";
// const allPosts = await Astro.glob('../../pages/blog/*.md');
const allPosts = await getCollection("blog");
// astro.glob => getCollection is the difference between getting all files from a directory in pages vs. collections
// https://docs.astro.build/en/tutorials/add-content-collections/
---

<Layout title="Welcome to Prince Collection" description="About Prince Collection">
		<div class="container-fluid px-0">
			<div class="row pt-5">
				<div class="col-lg-12 d-flex flex-column justify-content-center align-items-center text-center p-5">
                    <span class="badge rounded-pill fw-bold bg-pc-dark-80 text-light py-2 px-3">Where will you go next?</span>
					<h1 class="display-3 fw-bold lh-1 mb-2 mt-3">Your <span class="text-pc-dark">luxury</span> travel concierge</h1>
					<p class="col-md-7 fs-5 text-body-secondary mt-3 mb-4">Prince Collection’s Travel Concierge is designed exclusively for companies and individuals who require exclusive travel arrangements handled for them. Our expertise lies in handling the nuances of travel, ensuring a seamless and extraordinary journey from start to finish.</p>
					<a href="/book">
						<button class="btn btn-pc fw-bold rounded-pill px-4 shadow">Book your hotel</button>
					</a>
				</div>
			</div>
            
            <div class="masonry p-4">
                {
                    allPosts.map((post) => (
                        <div class="card rounded-4 border-0 p-3 shadow">
                            <img src={post.data.imageUrl} class="card-img-top rounded-4" style="width: 100%; object-fit: cover" alt={post.data.imageAlt}>
                            <div class="card-body px-3 pb-0">
                                <div class="d-flex flex-row">
                                    {
                                        post.data.tags.map((tag) => (
                                            <div class="span badge bg-secondary me-1">{tag}</div>
                                        ))
                                    }
                                </div>
                                <p class="small mb-2">{post.data.pubDate.toString().slice(0,10)}</p>
                                <h5 class="card-title fw-bold mb-0">{post.data.title}</h5>
                                <p class="small m-0 text-secondary mt-2 mb-0">By: {post.data.author}</p>
                                <p class="card-text text-body-secondary">{post.data.description}</p>
                                <a href={`/blog/${post.slug}/`}>
                                    <i class="bi bi-arrow-up-right-circle-fill text-dark fs-1" role="button"></i>
                                </a>
                            </div>
                        </div>
                
                        </div>
                  
                    ))}
                    </div>
        </div>
        </Layout>
        
<style>
.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr)); */
    grid-template-rows: masonry;
    gap: 30px;
}
    </style>
