---
import NewsletterForm from '../components/NewsletterForm.astro';
import Layout from '../layouts/Layout.astro';
import data from '../data/sitecontent.json';
---
<Layout title={data.newsletter.meta.title} description={data.newsletter.meta.description}>
    <div class="container-fluid px-0">
        <div class="row min-vh-100">
            <div class="col-lg-7 d-flex flex-column justify-content-end align-items-start min-vh-50 text-start p-5 mb-0 mb-lg-4 mt-5 mt-lg-0">
                <span class="badge rounded-pill fw-bold text-bg-dark py-2 px-3">{data.newsletter.badge}</span>
                <h1 class="display-3 fw-bold lh-1 mb-2 mt-3"><Fragment set:html={data.newsletter.title}/></h1>
                <p class="fs-4 my-3">{data.newsletter.content}</p>
                <div class="col-lg-9">
                    <NewsletterForm newsletterBtn="btn-pc btn-lg px-4" newsletterClass="form-control-lg"  />
                    <p class="small">{data.newsletter.privacy}</p>
                </div>
            </div>
            <div class="col-lg-5 min-vh-50 d-flex justify-content-center align-items-center" style="background: linear-gradient(rgba(161, 101, 92, 0.6), rgba(161, 101, 92, 0.6)), url('/images/general/newsletter_plane.png') center bottom repeat; background-size: 50%">
                <!-- https://cdn.pixabay.com/photo/2016/03/31/15/20/airline-1293184_1280.png -->
                <img class="mx-auto bg-dark rounded-3" style="width: 150px; height: auto; padding: 40px" src="/images/logo-crown.png" alt="">
            </div>
        </div>
    </div>
</Layout>