---
import Drawer from './TheDrawer.astro';
import Modal from '../components/TheModal.astro';
import navData from '../data/sitecontent.json';
---
<header>
	<nav id="nav" class="navbar fixed-top animate-in">
		<div class="container-fluid">
			<a class="navbar-brand me-auto mt-1 ms-2 text-body-secondary d-flex align-items-center" href="/">
				<img style="width: 30px;" class="logo h-auto me-1" src="/images/logos/logo-crown.png" alt="Prince Collection crown logo">
			</a>

			<ul class="nav justify-content-end align-items-center">
				<li class="nav-item">
					<a href="/book" class="p-0">
						<button class="btn btn-dark me-2 rounded-3 px-3">
							<i class="bi bi-airplane fs-5"></i>
						</button>
					</a>
				</li>
				<li class="nav-item">
					<button class="btn btn-dark me-2 px-3 rounded-3" data-bs-toggle="modal" data-bs-target="#navSignup">
						<i class="bi bi-send-plus fs-5"></i>
					</button>
				</li>

				<!-- animated dropdown -->
				<!-- <ul>
				<li class="nav-item dropdown">
					
					<button class="btn btn-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-water" viewBox="0 0 16 16">
						<path d="M.036 3.314a.5.5 0 0 1 .65-.278l1.757.703a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.757-.703a.5.5 0 1 1 .372.928l-1.758.703a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0L.314 3.964a.5.5 0 0 1-.278-.65m0 3a.5.5 0 0 1 .65-.278l1.757.703a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.757-.703a.5.5 0 1 1 .372.928l-1.758.703a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0L.314 6.964a.5.5 0 0 1-.278-.65m0 3a.5.5 0 0 1 .65-.278l1.757.703a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.757-.703a.5.5 0 1 1 .372.928l-1.758.703a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0L.314 9.964a.5.5 0 0 1-.278-.65m0 3a.5.5 0 0 1 .65-.278l1.757.703a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.757-.703a.5.5 0 1 1 .372.928l-1.758.703a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0l-1.757-.703a.5.5 0 0 1-.278-.65"/>
						</svg>
					</button>
				
					<div class="dropdown-menu dropdown-menu-end rounded-4 shadow-lg bg-pc p-3 animate slideIn" aria-labelledby="navbarDropdown" style="top: 50px; width: 350px; height: 75vh;">
						<div class="text-pc-dark fw-bold">Menu</div>
					  {
						navData.map((item) => (
							<a class="dropdown-item shadow rounded-4 p-3 mt-2 text-dark bg-pc" href={item.path}><i class="bi-grid text-dark" style=""></i>{item.title}</a>
						))
					  }
					</div>
				  </li>
			</ul> -->

			<!-- main menu drawer -->
			<button data-bs-toggle="offcanvas" data-bs-target="#navDrawer" aria-controls="offcanvasBottom" class="btn btn-dark me-2 rounded-3 px-3">
				<i class="bi bi-justify-left fs-5"></i>
			</button>

			<Drawer drawerClass="bg-pc" drawerTitle="Prince Collection" drawerId="navDrawer" drawerAriaLabel="Prince Collection Menu">
				<div class="container-fluid px-0">
					<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3 p-0">

						{
						navData.navData.map((item) => (
							<div class="col d-none d-lg-flex position-relative">
								<a href={item.path}>
									<div class="p-4 w-100 h-100 bg-pc-light rounded-4 shadow" style="min-height: 350px;">
										<div class="p-3 w-100 h-100 bg-pc-10 rounded-4">
										<i class:list={["bi me-3 fs-2 text-pc-dark position-absolute end-0 top-0 me-4 mt-2", item.icon || ""]}></i>
										<span class="badge bg-pc-dark text-pc-10">{item.badge}</span>
										<h3 class="fs-2 fw-bold mt-3">{item.title}</h3>
										<p>{item.description}</p>
										<button class="btn btn-sm btn-pc-dark rounded-pill shadow">Go <i class="bi bi-arrow-up-right"></i></button>
										</div>
									</div>
								</a>
							</div>
							
							<div class="col d-flex d-lg-none position-relative">
								<a href={item.path}>
									<div class="p-4 w-100 h-100 bg-pc-light rounded-4 shadow">
										<div class="p-3 w-100 h-100 bg-pc-10 rounded-4">
										<i class:list={["bi me-3 fs-2 text-pc-dark position-absolute end-0 top-0 me-4 mt-2", item.icon || ""]}></i>
										<span class="badge bg-pc-dark text-pc-10">{item.badge}</span>
										<h3 class="fs-2 fw-bold mt-3">{item.title}</h3>
										<p>{item.description}</p>
										<button class="btn btn-sm btn-pc-dark rounded-pill shadow">Go <i class="bi bi-arrow-up-right"></i></button>
										</div>
									</div>
								</a>
							</div>
							))
						}
					</div>
				</div>
			</Drawer>

			<!-- title-only menu -->
			
			<Drawer drawerTitle="PrinceCollection" drawerId="navDrawer2" drawerAriaLabel="Prince Collection">
				<div class="container-fluid px-0">
					<div class="row p-5">
						<div class="col-lg-12 d-flex flex-column justify-content-end align-items-end">
						{
						navData.navData.map((item) => (
							<a href={item.path}>
								<div class="d-flex text-pc-dark">
									<i class="bi bi-arrow-up-right fs-2"></i>
									<h3 class="display-4 font-inter fw-900 text-lowercase my-0 ms-2">{item.title}</h3>
								</div>
							</a>
							))
						}
						</div>
					</div>
				</div>
			</Drawer>
			
		<!-- <button class="btn btn-dark" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#navModal">
			<i class="bi bi-justify-left fs-5"></i>
		</button>
		 
		  <div class="offcanvas offcanvas-end bg-indigo" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header">
			  <Image class="ms-2" style="width: 30px; height: 30px" src={crown} alt="Prince Collection logo"/>
			  <button type="button" class="btn p-0" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-circle-fill fs-2 text-pc-dark"></i></button>
			</div>
			<div class="offcanvas-body offcanvas-body d-flex flex-column justify-content-end align-items-start p-4">
			  <ul class="navbar-nav justify-content-end flex-grow-1 text-lightblue pe-3 text-pc-dark-60">
				{
					navData.navData.map((item) => (
					<li class="nav-item fw-bold pb-3">
						<a class="" href={item.path}>
							<i class:list={["bi me-3", item.icon || ""]} ></i>
							{item.title}
						</a>
					</li>
					))
				  }
				  <li><hr class="border border-top my-2"></li>
				  <li class="">
					<p class="mb-0 mt-2 fw-bold">Subscribe to the Prince Collection newsletter</p>
					<p class="mt-3 mb-4 small">Receive priority information about the newest luxury properties worldwide, exclusive reservations and deals through <span class="fw-bold">Prince Collection</span>, and unique destinations across the globe.</p>
					<NewsletterForm newsletterClass="bg-indigo text-lightblue" newsletterBtn="btn-primary" />
				</li>
			  </ul>
			</div>
		  </div> -->

		</div>
	</nav>

	<Modal modalTitle="Join Our Newsletter" modalId="navSignup" modalStyles="bg-dark text-light min-vh-500 rounded-4" modalSize="modal-lg" modalBody="d-flex flex-column justify-content-center align-items-start align-items-lg-center text-start text-lg-center">
		<span class="badge rounded-pill fw-bold text-pc-light bg-pc-dark py-2 px-3">Join us</span>
		<h2 class="mb-2 mt-3">Subscribe to the <span class="text-pc">Prince Collection</span> newsletter</h2>
		<p class="mt-2 mb-3 text-balance">You'll receive priority information about the newest luxury properties worldwide, exclusive reservations and deals through <span class="text-pc fw-bold">Prince Collection</span>, and unique destinations across the globe.</p>
		<div class="col-lg-8">
			<form method="post" class="w-100">
				<div class="input-group my-2 px-0">
				  <input id="navSignupInput" type="email" name="email" class:list={["form-control rounded-start-2 border-secondary"]} placeholder="name@example.com" aria-label="Sign up for our newsletter" aria-describedby="button-addon1" required>
				  <button onclick="navThanks()" class:list={["btn rounded-0 fw-bold rounded-end-2 btn-pc px-4 px-lg-5"]}
				  >I'm in!</button>
				</div>
			</form>
			
			<!-- <NewsletterForm inputID="navSignupInput" btnID="navSignupBtn" newsletterBtn="btn-pc px-4 px-lg-5" newsletterClass="text-body-secondary" /> -->
			<!-- <NewsletterForm newsletterBtn="btn-pc px-4 px-lg-5" newsletterClass="text-body-secondary" /> -->
			<p class="small text-pc-dark-80">By providing your email, you agree to the Prince Collection Privacy Policy</p>
		</div>
	</Modal>

	<div class="modal fade" id="navSuccess" tabindex="-1" aria-labelledby="" aria-hidden="true">
		<div class:list={["modal-dialog modal-dialog-centered modal-lg"]}>
			<div class:list={["modal-content bg-dark text-light min-vh-500 rounded-4"]}>
			<div class="modal-header d-none border-0">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class:list={["modal-body p-5 d-flex flex-column justify-content-center align-items-start align-items-lg-center text-start text-lg-center"]}>
				<i class="bi bi-x-circle-fill position-absolute top-0 end-0 fs-3 m-3 text-pc-dark" role="button" data-bs-dismiss="modal" aria-label="Close"></i>
				<span class="badge rounded-pill fw-bold text-pc-light bg-pc-dark py-2 px-3">Success!</span>
				<h2 class="display-6 mb-2 mt-3">Thank you for <span class="text-pc">subscribing!</span></h2>
				<p class="mt-2 mb-3 text-balance">Please check your email to confirm your subscription!</p>
			</div>
			</div>
		</div>
	</div>

	<!-- main menu modal -->
	<div class="modal fade" id="navModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-fullscreen p-3">
			<div class="modal-content rounded-4 bg-pc">
			<div class="modal-header border-0" style="background: transparent !important;">
				<div class="modal-title fs-5">
					<img class="ms-2" style="width: 30px; height: 30px;" src="/images/logos/logo-crown.png" alt="Prince Collection crown logo">
				</div>
				<i class="bi bi-x-circle-fill position-absolute top-0 end-0 fs-2 m-3 text-pc-dark" role="button" data-bs-dismiss="modal" aria-label="Close"></i>
			</div>
			<div class="modal-body py-0 ">
			<div class="container-fluid">
				<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3 p-3">
					{
					navData.navData.map((item) => (
						<div class="col position-relative">
							<a href={item.path}>
								<div class="p-4 bg-pc-10 rounded-4 shadow" style="min-height: 300px">
									<i class:list={["bi me-3 fs-2 text-pc-dark position-absolute end-0 top-0 me-4 mt-2", item.icon || ""]}></i>
									<span class="badge bg-pc-dark text-pc-10">{item.badge}</span>
									<h3 class="fs-2 fw-bold mt-3">{item.title}</h3>
									<p>Id ea eiusmod magna cupidatat proident commodo tempor sit incididunt. Fugiat aliquip officia exercitation ad culpa ipsum est.</p>
									<button class="btn btn-sm btn-pc-dark rounded-pill shadow">Go <i class="bi bi-arrow-up-right"></i></button>
								</div>
							</a>
						</div>
						))}
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</header>

<script is:inline>
	function navThanks() {
	  const inpObj = document.getElementById("navSignupInput");
	  if (inpObj.checkValidity() === false) {
		// alert("Please include a valid email address");
	  return false;
	  } else {
		var modal1 = new bootstrap.Modal(document.getElementById('navSuccess')); 
		function showhide() { 
			// show Modal 
			modal1.show(); 
			// hide the modal after 5 seconds 
			setTimeout(() => { 
				modal1.hide(); 
			}, 5500) 
		} 
		showhide();
	  }
	}
</script>
	

<!-- <script>
	window.onscroll = function() {scrollFunction()};

	function scrollFunction() {
	if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
		document.getElementById("nav").classList.add("bg-light");

	} else {
		document.getElementById("nav").classList.remove("bg-light");
	}
	}
</script> -->

<style>

nav {
	transition: all .3s ease-in-out;
}
.nav-item a {
	font-family: 'Inter tight', Arial, Helvetica, sans-serif;
	font-size: 17px;
	padding: 10px;
	color: inherit;
	text-decoration: none;
}
</style>

<!-- 
<script>
	var modal1 = document.getElementById('thankYou')
	function showhide() { 
setTimeout(() => { 
	modal1.hide(); 
}, 5000) 
} 

showhide();
</script> -->
